.posts-grid {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 1.5rem;
    align-content: center;
  }

  .post {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    background-color: var(--color-grey-800);
    text-align: center;
  }
  
  .post a {
    color: var(--color-grey-100);
  }
  
  .post-image {
    width: 100%;
    max-height: 20rem;
    overflow: hidden;
  }
  
  .post-image img {
    object-fit: cover;
  }
  
  .content {
    padding: var(--size-4);
  }
  
  .content h3 {
    margin: var(--size-2) 0;
    font-size: var(--size-6);
  }
  
  .content time {
    font-style: italic;
    color: var(--color-grey-300);
  }
  
  .content p {
    line-height: var(--size-6);
  }

//   ================== All Posts ============
.posts {
    width: 90%;
    max-width: 60rem;
    margin: var(--size-8) auto;
  }
  
  .posts h1 {
    font-size: var(--size-8);
    color: var(--color-grey-800);
    text-align: center;
  }
  
  @media (min-width: 768px) {
    .posts h1 {
      font-size: var(--size-16);
    }
  }

//   =================== Post details ===================


.post-header {
    padding-bottom: var(--size-8);
    border-bottom: 8px solid var(--color-primary-100);
    margin: var(--size-4) 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    
    h1 {
     font-size: var(--size-8);
     color: var(--color-primary-500);
     margin: 0;
     line-height: initial;
     text-align: center;
   }
   
    img {
     object-fit: cover;
     width: 200px;
     height: 120px;
   }
  }
  
  
  @media (min-width: 768px) {
    .post-header {
      margin: var(--size-8) 0;
      flex-direction: row;
      align-items: flex-end;
    }
  
    .post-header h1 {
      font-size: var(--size-16);
      text-align: left;
    }
  }


//    content

.post-content {
    width: 95%;
    max-width: 60rem;
    margin: var(--size-8) auto;
    font-size: var(--size-5);
    line-height: var(--size-8);
    background-color: var(--color-grey-100);
    border-radius: 6px;
    padding: var(--size-4);
    p {
     color: var(--color-grey-800);
   }
   
    .image {
     margin: var(--size-4) auto;
     width: 100%;
     max-width: 600px;
   }
  }
  
  
  @media (min-width: 768px) {
    .post-content {
      padding: var(--size-8);
    }
  }